<%= form_with(model: location_type) do |form| %>
  <% if location_type.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(location_type.errors.count, "error") %> prohibited this location_type from being saved:</h2>

      <ul>
        <% location_type.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.textarea :description %>
  </div>

  <div>
    <%= form.label :story_id, style: "display: block" %>
    <%= form.text_field :story_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
