<p style="color: green"><%= notice %></p>

<%= render @location %>

<div>
  <%= link_to "Edit this location", edit_story_location_path(@story, @location) %> |
  <%= link_to "Back to locations", story_locations_path(@story) %>

  <%= button_to "Destroy this location", [@story, @location], method: :delete %>
</div>
