<!-- Left Sidebar -->
<nav class="col-md-2 d-none d-md-block bg-light sidebar vh-100 position-fixed" style="top:56px; left:0;">
  <div class="sidebar-sticky pt-3">


    <div class="card mb-3">
      <div class="card-header <%= highlighted_sidebar_section(:general) %>">
        General
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <%= link_to 'Timeline', "#", class: 'link-secondary' %>
        </li>
        <li class="list-group-item">
          <%= link_to 'World Map', "#", class: 'link-secondary' %>
        </li>
      </ul>
    </div>

    <div class="card mb-3">
      <div class="card-header <%= highlighted_sidebar_section(:elements) %>">
        Story Elements
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item <%= highlighted_sidebar_item(:locations) %>">
          <%= link_to 'Locations', story_locations_path(@story) %>
        </li>
        <li class="list-group-item">
          <%= link_to 'Characters', "#", class: 'link-secondary' %>
        </li>
        <li class="list-group-item">
          <%= link_to 'Objects', "#", class: 'link-secondary' %>
        </li>
        <li class="list-group-item">
          <%= link_to 'Events', "#", class: 'link-secondary' %>
        </li>
        <li class="list-group-item">
          <%= link_to 'Scenes', "#", class: 'link-secondary' %>
        </li>
      </ul>
    </div>

  </div>
</nav>