<!-- the scroll should be visible when the mouse is over the sidebar -->

<!-- Left Sidebar -->
<nav class="col-md-2 d-none d-md-block bg-light sidebar vh-100 position-fixed" style="top:56px; left:0;">
  <div class="sidebar-sticky pt-3 overflow-y-auto" style="max-height: calc(100vh - 56px);">
    <% if @story && !@story.new_record? %>

      <!--
      <div class="card mb-3">
        <div class="card-header <%= highlight_section(:general) %>">
          General
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <%= link_to 'Timeline', "#", class: 'link-secondary' %>
          </li>
          <li class="list-group-item">
            <%= link_to 'World Map', "#", class: 'link-secondary' %>
          </li>
          <li class="list-group-item">
            <%= link_to 'Plot', "#", class: 'link-secondary' %>
          </li>
          <li class="list-group-item">
            <%= link_to 'World Building', "#", class: 'link-secondary' %>
          </li>
          <li class="list-group-item">
            <%= link_to 'History', "#", class: 'link-secondary' %>
          </li>
        </ul>
      </div>
      -->

      <div class="card mb-3">
        <div class="card-header <%= highlight_section(:elements) %>">
          Story Elements
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item <%= highlight_item(:locations) %>">
            <%= link_to "Locations (#{@story.locations.count})",
              story_locations_path(@story) %>
          </li>
          <li class="list-group-item">
            <%= link_to 'Characters', "#", class: 'link-secondary' %>
          </li>
          <li class="list-group-item">
            <%= link_to 'Items', "#", class: 'link-secondary' %>
          </li>
          <li class="list-group-item">
            <%= link_to 'Events', "#", class: 'link-secondary' %>
          </li>
          <li class="list-group-item">
            <%= link_to 'Passages', "#", class: 'link-secondary' %>
          </li>

          <% @story.taxonomies.where(is_story_taxonomy: true).each do |taxonomy| %>
            <li class="list-group-item <%= highlight_item(taxonomy.slug) %>">
              <%= link_to "#{taxonomy.name} (#{taxonomy.taxons.count})",
                story_taxonomy_taxons_path(@story, taxonomy) %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</nav>