<!-- Right Sidebar -->
<nav class="col-md-2 d-none d-md-block bg-light sidebar vh-100 position-fixed" style="top:56px; right:0;">
  <div class="sidebar-sticky pt-3">
    <% if @story && !@story.new_record? %>

      <div class="card mb-3">
        <div class="card-header <%= highlighted_sidebar_section(:settings) %>">
          Story Settings
        </div>
        <ul class="list-group list-group-flush">

          <!-- Location Types -->
          <li class="list-group-item <%= highlighted_sidebar_item(:location_types) %>">
            <%= link_to "Location Types (#{@story.location_types.count})",
              story_location_types_path(@story) %>
          </li>

          <li class="list-group-item">
            <%= link_to 'Event Types', '#', class: 'link-secondary' %>
          </li>
          <li class="list-group-item">
            <%= link_to 'Character Types', '#', class: 'link-secondary' %>
          </li>
          <li class="list-group-item">
            <%= link_to 'Calendar', '#', class: 'link-secondary' %>
          </li>

          <% @story.taxonomies.where(setting_taxonomy: true).each do |taxonomy| %>
            <li class="list-group-item <%= highlighted_sidebar_item(:taxonomies) %>">
              <%= link_to "#{taxonomy.name} (#{taxonomy.taxons.count})",
                story_taxonomy_taxons_path(@story, taxonomy) %>
            </li>
          <% end %>
        </ul>
      </div>

            <div class="card mb-3">
        <div class="card-header">
          Configuration
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <%= link_to 'Export to PDF', '#', class: 'link-secondary' %>
        </ul>
      </div>

    <% end %>
  </div>
</nav>