<!-- Right Sidebar -->
<nav class="col-md-2 d-none d-md-block bg-light sidebar vh-100 position-fixed" style="top:56px; right:0;">
  <div class="sidebar-sticky pt-3">
    <% if @story && !@story.new_record? %>

      <div class="card mb-3">
        <div class="card-header">
          Story Settings
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <%= link_to 'Location Types', story_location_types_path(@story) %>
            <% @story.location_types.each do |location_type| %>
              <br> <%= location_type.name %> (<%= location_type.locations.count %>)
            <% end %>
            <% if @story.location_types.count == 0 %>
              <span class="text-muted">No location types</span>
            <% end %>
          </li>
          <li class="list-group-item">
            <%= link_to 'Calendar', '#', class: 'link-secondary' %>
          </li>
        </ul>
      </div>

            <div class="card mb-3">
        <div class="card-header">
          Configuration
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <%= link_to 'Export to PDF', '#', class: 'link-secondary' %>
        </ul>
      </div>

    <% end %>
  </div>
</nav>